node_modules/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
cheesetracker/node_modules
./cheesetracker/c
./cheesetracker/.pnp
./cheesetracker/.pnp.js

# testing
./cheesetracker/coverage

# production
./cheesetracker/build

# misc
./cheesetracker/.DS_Store
./cheesetracker/.env.local
./cheesetracker/.env.development.local
./cheesetracker/.env.test.local
./cheesetracker/.env.production.local

./cheesetracker/npm-debug.log*
./cheesetracker/yarn-debug.log*
./cheesetracker/yarn-error.log*
